@import "./StyleAssets/variables.sass"


.desklistWrapper
  padding: 20px 50px
  display: flex
  flex-direction: column
  &__title
    font-size: 2.5rem
    font-weight: 300
    letter-spacing: 3px
  &__createNewDesk
    text-align: center
    font-size: 1.5rem
    color: $mainAppGreen
    border: 2px solid $mainAppGreen
    width: 30%
    background: $greenToWhite8
    padding: 10px 50px
    letter-spacing: 2px
    margin: 0 auto